header {
  padding-top: 24px;
  border-bottom: 1px solid rgba(224, 224, 224, 1.0);
  -webkit-app-region: drag;
}
header button, header form button, header form div {
  -webkit-app-region: no-drag;
}
header div div div div a, header div div div div a img {
  cursor: default;
}
header a[href="/"] span {
  text-decoration: none !important;
  border: 0 !important;
  cursor: default;
}
header a[href="https://www.google.com/intl/en/about/products"] {
  display: none;
}
.gv_root {
  margin-top: 0;
}

/* fix starter page */

#header.header {
  padding-top: 24px;
  -webkit-app-region: drag;
}
.section.stayInTouchSection, .section.altSection, .section.featuresSection, .section.heroSection .heroImage, .getVoiceButtonsPanel, .section.legal .disclaimer  {
  display: none !important;
}
